<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Become a member</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <%- include('partials/header') %>
  <div class="content">
    <h2>Become a member</h2>
    <% if (locals.errors) { %>
      <div class="error"><%= errors %></div>
    <% } %>
    <form action="/clubForm" id="clubForm" method="post">
      <div class="formRow">
        <label for="secretPass">Secret password: </label>
        <input type="text" name="secretPass" id="secretPass">
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>