<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <%- include('partials/header') %>
  <div class="content">
    <h2>Log in</h2>
    <% if (locals.loggedIn) { %>
        <p>You're already logged in, you need to log out first!</p>
        <a href="/logout"><button>Logout</button></a>
    <% } else { %>
      <div class="errors">
        <% if (locals.error) { %>
          <div class="error"><%= error %></div>
        <% } %>
      </div>
      <form action="/login" id="loginForm" method="post">
        <div class="formRow">
          <label for="username">Username: </label>
          <input type="text" name="username" id="username ">
        </div>
        <div class="formRow">
          <label for="password">Password: </label>
          <input type="password" name="password" id="password">
        </div>
        <button type="submit">Login</button>
      </form>
      <% } %>
  </div>
</body>
</html>