<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <%- include('partials/header') %>
  <div class="content">
    <h2>Register at Relymembers</h2>
    <% if (locals.errors) { %>
      <div class="errors">
        <% errors.forEach((error) => {%>
          <div class="error"><%= error.msg %></div>
        <% }) %>
      </div>
    <% } %>
    <form action="/register" method="post" id="registerForm" onsubmit="this.submit(); this.reset(); return false;">
      <div class="formRow">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username">
      </div>
      <div class="formRow">
        <label for="firstName">First name: </label>
        <input type="text" name="firstName" id="firstName">
      </div>
      <div class="formRow">
        <label for="secondName">Second name: </label>
        <input type="text" name="secondName" id="secondName">
      </div>
      <div class="formRow">
        <label for="password">Password: </label>
        <input type="password" name="password" id="password">
      </div>
      <div class="formRow">
        <label for="confirmPassword">Confirm password: </label>
        <input type="password" name="confirmPassword" id="confirmPassword">
      </div>
      <div class="formRow">
        <label for="admin">Want to be an admin ?</label>
        <input type="checkbox" name="admin" id="admin">
      </div>
      <button type="submit">Register</button>
    </form>
  </div>
</body>
</html>