body {
  margin: 0 250px 0 250px;
}

header {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 20px;
}

.topRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message {
  width: 60%;
  margin: auto;
  margin-top: 40px;
}

.authorMessage {
  display: inline;
}